
<div class="modal fade addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="h4#addPlayerTitle" aria-hidden="true">

	<form id="playerForm" class="form" action="/club/<%= club.clubId %>/player" method="post" role="form">

		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="addPlayerTitle"><strong>추가</strong> - 새로운 선수</h4>
				</div>

				<div class="modal-body">

					<center>
						<p>
							새로운 선수를 추가하세요
							<br>
							<small>리그가 시작되기 전까지 입니다.</small>
						</p>

					</center>

					<br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="lastName" placeholder="성" type="text" autofocus/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="firstName" placeholder="이름" type="text"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="이메일" type="email" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="birthday" placeholder="생일" />
                        <p class="help-block">YYYY/MM/DD <small>ex) 1988/04/09</small></p>
                    </div>

					<div class="form-group">
						<select class="form-control" name="position" title="포지션 선택">
							<!-- <option selected value="">포지션을 선택하세요.</option> -->
							<option value=""></option>
							<option value="GK">GK</option>
							<option value="DF">DF</option>
							<option value="MF">MF</option>
							<option value="FW">FW</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" name="squadNumber" title="등번호 선택">
							<%
						        var restNumbers = [""];

						        // Remove item from array by value
								function removeA(arr) {
								    var what, a = arguments, L = a.length, ax;
								    while (L > 1 && arr.length) {
								        what = a[--L];
								        while ((ax= arr.indexOf(what)) !== -1) {
								            arr.splice(ax, 1);
								        }
								    }
								    return arr;
								}

						        for (var i = 1; i < 100; i++) {
						          restNumbers.push(i);
						        };

						        for (var i = 0; i < club.squadNumbers.length; i++) {
						          removeA(restNumbers, club.squadNumbers[i]);
						        };

						        for (var i = 0; i < restNumbers.length; i++) {

							%>
							<option value="<%= restNumbers[i] %>"><%= restNumbers[i] %></option>
							<% } %>
						</select>
					</div>


				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary">등록</button>
				</div>
			</div>
		</div>

	</form>

</div>
