
<div class="modal fade confirmPlayerOutModal" tabindex="-1" role="dialog" aria-labelledby="h4#confirmTitle" aria-hidden="true">

	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="confirmTitle">의사 확인</h4>
			</div>

			<div class="modal-body">

				<center>
					<h4>playerName</h4>
					<p>클럽에서 제외하겠습니까?</p>
				</center>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" id="outClub">확인</button>
			</div>
		</div>
	</div>

</div>

