<div class="modal fade" id="joinLeagueTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel"><strong><%= user.joinedLeagues[0].teamName %></strong> 팀은 <strong>'<%= league.community %> <%= league.season %>'</strong>시즌에 등록됩니다.</h4>
			</div>
				<form method="post" action="/league/<%= league.leagueId %>/joinLeague" role="form" enctype="multipart/form-data">
					<div class="modal-body">
						<h4>새로운 리더는 누구인가요??</h4>
						<div class="form-group">
							<select class="form-control" name="position">
								<option>포지션?</option>
								<option>GK</option>
								<option>DF</option>
								<option>MF</option>
								<option>FW</option>
							</select>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						<button type="submit" class="btn btn-primary">등록하기</button>
					</div>

				</form>

		</div>
	</div>
</div>

