
<div class="modal fade submitClubModal" tabindex="-1" role="dialog" aria-labelledby="h4#submitClubTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="submitClubTitle">가입요청</h4>
            </div>
			<form role="form" action="/submitClub/<%= club.clubId %>" method="post">
	            <div class="modal-body">
					<center>
						<img src="/images/default/defaultClub.jpg" class="img-circle" alt="A">
						<br>
						<br>
						<h4 class="media-heading"><%= club.teamName %></h4>
					</center>
					<br>
					<div class="form-group">
						<select class="form-control" name="position" title="포지션을 선택하세요.">
							<option></option>
							<option>GK</option>
							<option>DF</option>
							<option>MF</option>
							<option>FW</option>
						</select>
					</div>
					<hr>
					<center>
						<p>가입요청을 승인을 받게되면 <br>팀가입이 완료됩니다.</p>
					</center>

	            </div>
	            <div class="modal-footer">
	              	<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
	                <button type="submit" class="btn btn-primary btn-default">요청</button>
	            </div>

			</form>

        </div>
    </div>
</div>