<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<h4 class="text-left">League -  </h4>

			<div class="row">

				<div class="col-md-12">
					<a href="/league/5/match">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">여주 2015</h3>
							</div>
							<div class="panel-body">
								<h4>명단 수정기간입니다.</h4>
								<p class="text-center">지금부터 <strong>2015년 3월 14일 19:00</strong> 까지.</p>
							</div>
						</div>
					</a>
				</div>

			</div>


			<% include ../layout/player %>



			<% include ../layout/footer %>

		</div> <!-- /container -->


		<% include ../layout/defaultPlugins %>

		<script>
			// table sum
			$("#playerStat tfoot tr:first td:not(:first)").text(function(i){
			    var total = 0;

			    $("#playerStat tbody").find("td:nth-child("+(i+2)+")").each(function(){

			        total += parseInt( $(this).text(), 10 ) || 0;
			    });
			    return total;
			});


		</script>
	</body>
</html>