<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<h4 class="text-left">League -  </h4>

			<div class="row">
				<div class="col-md-12">
					<a href="/league/5/match">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">여주 2015</h3>
							</div>
							<div class="panel-body">
								<h4>명단 수정기간입니다.</h4>
								<p class="text-center"><strong>2015년 3월 14일 19:00</strong> 까지.</p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<center>
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<br>
						<br>
						<h3 class="media-heading"><%= user.playerName %></h3>
						<p><small><%= user.birthday %></small>
							<br>
							<%= user.email %>
						</p>
					</center>

					<% include ../table/playerTransferTable %>

					<% include ../table/playerCareerTable %>

				</div>
			</div>

			<% include ../layout/footer %>

		</div> <!-- /container -->


		<% include ../layout/defaultPlugins %>

		<script>
			// table sum
			$("#playerCareer tfoot tr:first td:not(:first)").text(function(i){
			    var total = 0;

			    $("#playerCareer tbody").find("td:nth-child("+(i+2)+")").each(function(){

			        total += parseInt( $(this).text(), 10 ) || 0;
			    });
			    return total;
			});

		</script>
	</body>
</html>