<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<div class="row">

				<div class="col-md-6">
					<a href="/league/4/match">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">여주 2013/14</h3>
							</div>
							<div class="panel-body">
								팀 등록이 완료되었습니다.
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-6">
					<a href="/league/1/match">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">여주 2014</h3>
							</div>
							<div class="panel-body">
								팀 등록이 완료되었습니다.
							</div>
						</div>
					</a>
				</div>

			</div>


			<div class="row">

				<div class="col-md-6">
					<a href="/league/2/joinedClub">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">테스트 리그</h3>
							</div>
							<div class="panel-body">
								모집중입니다.
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-6">
					<a href="/league/3/joinedClub">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">여주 2015</h3>
							</div>
							<div class="panel-body">
								모집중입니다.
							</div>
						</div>
					</a>
				</div>

			</div>

			<% include ../layout/footer %>

		</div> <!-- /container -->


		<% include ../layout/defaultPlugins %>
	</body>
</html>