<div class="jumbotron">
	<h2> <strong><%= user.playerName %></strong> <small>님.</small>

	</h2>
	<p class="lead">
		<small>
			당신은 '<strong><%= league.season %><%= league.community %></strong>' <strong><%= user.currentLeague[0].teamName %></strong>팀의 선수입니다.</p>
		</small>
	</p>
	<p>
		리그는 곧 시작합니다.
	</p>

</div>
