/*--------------------------------------------
Global */
body {
	padding-top: 45px;
	/*45패딩이 빵부스러기 위치임*/
	padding-bottom: 20px;
}
body .container {
	margin-top: 20px;
}
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}
h4 strong,
h5 strong {
	color: #f04124;
}
.modal-header h4 strong {
	color: #fff;
}
.info-item {
	font: ;
	height: 86px;
	font-family: 'AvantGardeExtLitITCTT';
	font-size: 55px;
	line-height: 90px;
}
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

/**
 *  Do NOT include this part into your stylesheet.
 *  "flex: 1" or "flex-grow: 1" is added to make the inner div
 *  - Which is also a flex-item - take up all the horizontal space
 *  available space inside the flex container (.col-* elements)
 */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

/*--------------------------------------------
navbar */
.navbar .container-fluid {
	max-width: 730px;
}
.bs-docs-nav {
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #c4c4c4;
}
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
	font-weight: 500;
	color: #3c3c3e;
}
.bs-docs-nav .navbar-toggle .icon-bar {
	background-color: #3c3c3e;
}
.navbar .navbar-toggle:hover .icon-bar {
	background-color: #3c3c3e;
}
.navbar .text-primary {
	cursor: pointer;
}

/*--------------------------------------------
Serach */
#search {
	margin-top: 5px;
}

#results {
	font-size: 1.2em;
	width: 209px;
	margin-top: 45px;
	position: fixed;
	/*z-index: 300;*/
}

/*--------------------------------------------
modal */
.modal-body .container {
	margin-top: 0px;
}

.modal-header {
	background-color: #f04124;
	color: #fff;
}

/*--------------------------------------------
jumbotron  */
.jumbotron {
	text-align: center;
	/*border-bottom: 1px solid #e5e5e5;*/
}

/*--------------------------------------------
home my info  */
@font-face {
	font-family: 'AvantGardeExtLitITCTT';
	src: url('../fonts/AvantGardeExtLitITCTT.eot');
	src: local('☺'), url('../fonts/AvantGardeExtLitITCTT.woff') format('woff'), url('../fonts/AvantGardeExtLitITCTT.ttf') format('truetype'), url('../fonts/AvantGardeExtLitITCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.box {
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

/*--------------------------------------------
match Timeline */
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-danger {
	border-left-color: #d9534f !important;
}
.bs-callout-info {
	border-left-color: #5bc0de !important;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout {
	border-left-width: 4px !important;
}
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
	text-align: center;
	color: #222 !important;
}

/*--------------------------------------------
panel */
.panel-title .badge {
	cursor: pointer;
}
.panel-body h2,
.panel-body h3,
.panel-body h4,
.panel-body h5,
.panel-body h6 {
	text-align: center;
}
.panel a {
	color: #3c3c3e;
}
.panel a:hover,
.panel a:focus {
	text-decoration: none;
}

/*--------------------------------------------
홈팀어웨이팀 아닐때 버튼 */
.btn-white {
	background-color: white;
	border: 1px solid;
}
.btn-white:hover,
.btn-white:focus {
	background-color: #e7e7e7;
	text-decoration: none;
}

/*--------------------------------------------
login signup */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 18px;
}
#loginbox,
#signupbox {
	margin-top: 50px;
}
#loginbox .panel-body,
#signupbox .panel-body {
	padding-top: 30px;
}
.input-group {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*--------------------------------------------
table, table image  */
.table tbody>tr>td {
	vertical-align: middle;
}
img.img-circle {
	margin: 0 auto;
}
th, td {
	text-align: center;
}
td > a {
	color: #008CBA;
	cursor: pointer;
}
td > a:hover {
	text-decoration: underline;
}

/*--------------------------------------------
custom glyphicon  */
.glyphicon {
	font-size: 1.2em; /* size lager */
}
.glyphicon-remove, .glyphicon-pencil {
	cursor: pointer;
}

/*--------------------------------------------
bootstrtap-select  */
.bootstrap-select > .btn {
	/* 이거 bootstrap default select box 맞춰주는거야 꼭필요*/
	padding: 6px 12px !important;
}

/*--------------------------------------------
footer  */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #E5E5E5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
}

/*--------------------------------------------
Customize container  */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}

/*--------------------------------------------
player name  */
@media (max-width: 767px) {
  .player-name {
    width: 50px;
  }
}

/* Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

