<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/head %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/parsley.css" rel="stylesheet">
        <style>

            #forgetPassword {
                float: right;
                font-size: 80%;
                position: relative;
                top: -10px;
            }

        </style>

    </head>
    <body>
        <div class="container">
            <div id="loginbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/"><img class="logo" src="/img/logo.png"></a>
                        <div class="panel-title">선수 로그인</div>
                        <!-- <div id="forgetPassword"><a href="#">비밀번호를 까먹었다.</a></div> -->
                    </div>
                    <div class="panel-body" >
                        <form id="login" class="form-horizontal" role="form" method="post" action="/login"  data-parsley-validate>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12 col-xs-12">
                                    <input type="email" class="form-control" name="email" placeholder="이메일" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12 col-xs-12">
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="비밀번호">
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <button type="submit" id="btn-login" class="btn btn-success btn-block">로그인  </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!--
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        아이디가 없다면?
                                        <a href="/signup">
                                            선수등록!
                                        </a>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </form>

                        <% console.log('client message    : ', message); %>
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    <script src="/js/libs/jquery-1.11.1.min.js"></script>
    <script src="/js/libs/jquery-ui-1.10.4.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/jquery.ui.touch-punch.js"></script>
    <script src="/js/libs/nprogress.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
    <script>

        NProgress.configure({ ease: 'ease', speed: 500});
        NProgress.inc();

        $(window).load(function() {
            // executes when complete page is fully loaded, including all frames, objects and images
            NProgress.done();
        });

        var url = window.location.pathname;

        var leaguePath = "/league/" + url.split('/')[2];

        if (url.split('/')[1] == 'league') {
            $.ajax({
                type        : 'get',
                async       : true,
                url         : leaguePath,
                beforeSend  : function() {
                    NProgress.inc();
                    // $('#ajax_load_indicator').show().fadeIn('fast');
                },
                success     : function(data) {
                    NProgress.inc();
                    $(".navbar-header").append(
                        '<a class="navbar-brand" href="/league/' + data.league.leagueId +
                        '/match"><small>' + data.league.community +
                        ' ' + data.league.season +
                        '</small></a>'
                    );
                    // console.log('통신성공');
                },
                error       : function(data, status, err) {
                    console.log("error forward : "+data);
                    alert('서버와의 통신이 실패했습니다.');
                },
                complete    : function (xhr, status) {
                    NProgress.done();
                }
            });
        }


        $('#login').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            live : 'submitted',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '이메일을 적어주세요.'
                        },
                        emailAddress: {
                            message: '이메일 형식에 맞게 적어주세요.'
                        }
                    }
                },
                password: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '비밀번호는 꼭 필요합니다.'
                        }
                        // stringLength: {
                        //     min: 6,
                        //     message: '비밀번호는 6자리 이상으로 적어주세요.'
                        // }
                    }
                }
            }
        });

    </script>



    </body>
</html>