<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/head %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <style>
            body { padding-top:30px; }
            .form-control { margin-bottom: 10px; }

            #login {
                border-top: 1px solid#888;
                padding-top:15px;
                padding-left: 0px !important;
                font-size:85%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"></div>
                    <a href="/"><img class="logo" src="/img/logo.png"></a>
                    <div class="panel-title">선수등록</div>
                </div>
                <div class="panel-body" >

                    <form id="signup" action="/signup" enctype="multipart/form-data" method="post" class="form" role="form" data-parsley-validate>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input class="form-control" name="lastName" placeholder="성" type="text" autofocus/>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input class="form-control" name="firstName" placeholder="이름" type="text"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="이메일" type="email" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" placeholder="비밀번호" type="password" />
                            <p class="help-block">비밀번호 6자리로 바꾸기</p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="confirmPassword" placeholder="비빌번호 확인" type="password"  />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="birthday" placeholder="생일" />
                            <p class="help-block">YYYY/MM/DD <small>ex) 1988/04/09</small></p>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block">선수등록</button>
                        </div>

                        <% if (message.length) { %>
                            <div class="form-group">
                                <div class="alert alert-danger"><%= message %></div>
                            </div>
                        <% } %>

                        <div class="form-group">
                            <div id="login" class="col-md-12">선수등록이 되어있다면
                                <a href="/login">
                                    로그인!
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>




    <% include ../layout/defaultPlugins %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
    <script>


        $('#signup').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            live : 'submitted',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                lastName: {
                    feedbackIcons: 'false',
                    // message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '성을 적어주세요.'
                        },
                        stringLength: {
                            // min: 6,
                            max: 20,
                            message: '너무 길어요.'
                        },
                        regexp: {
                            regexp: /^[ㄱ-ㅎ가-힣]+$/,
                            message: '한글로 입력해주세요.'
                        }
                        // different: {
                        //     field: 'password',
                        //     message: '비밀번호와 성이 같네요. 다르게 해주세요.'
                        // }
                    }
                },
                firstName: {
                    feedbackIcons: 'false',
                    // message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '이름을 적어 주세요.'
                        },
                        stringLength: {
                            // min: 6,
                            max: 20,
                            message: '너무 길어요.'
                        },
                        regexp: {
                            regexp: /^[ㄱ-ㅎ가-힣]+$/,
                            message: '한글로 입력해주세요.'
                        }
                        // different: {
                        //     field: 'password',
                        //     message: '비밀번호와 이름이 같네요. 다르게 해주세요.'
                        // }
                    }
                },
                email: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '이메일을 적어주세요.'
                        },
                        emailAddress: {
                            message: '이메일 형식에 맞게 적어주세요.'
                        }
                    }
                },
                password: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '비밀번호는 꼭 필요합니다.'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: '비밀번호를 같게 해 주세요.'
                        }
                        // different: {
                        //     field: 'firstName',
                        //     message: '이름이 비밀번호와 같아요. 다르게 해주세요.'
                        // },
                        // stringLength: {
                        //     // min: 8,
                        //     min: 6,
                        //     message: '비밀번호는 6자리 이상으로 적어주세요.'
                        // }
                    }
                },
                confirmPassword: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '비밀번호는 꼭 필요합니다.'
                        },
                        identical: {
                            field: 'password',
                            message: '비밀번호를 같게 해 주세요.'
                        }
                        // different: {
                        //     field: 'lastName',
                        //     message: '이름이 비밀번호와 같아요. 다르게 해주세요.'
                        // },
                        // stringLength: {
                        //     // min: 8,
                        //     min: 6,
                        //     message: '비밀번호는 6자리 이상으로 적어주세요.'
                        // }
                    }
                },
                birthday: {
                    feedbackIcons: 'false',
                    validators: {
                        notEmpty: {
                            message: '생일을 입력해 주세요.'
                        },
                        date: {
                            format: 'YYYY/MM/DD',
                            message: '형식에 맞게 입력해 주세요.'
                        }
                    }
                }
            }
        });

    </script>
    </body>
</html>






