<!--
보내는 사람
 1. 소속팀이 리그에 참여하고 있나요??

 받는 사람
 1. 현재 참가하고 있는 리그가 없어야 함.
 -->




<script>
	// Live Search
	// On Search Submit and Get Results
	function search() {
		var query_value = $('input#search').val();
			url = "/search/" + query_value
		$('b#search-string').text(query_value);
		if(query_value !== ''){
			$.ajax({
				type: "get",
				url: url,
				cache: false,
				success: function(players){

					var rows;
					var html = '';

					if (players[5]) {
						rows = players.pop();
					}

				    for (var i = 0; i < players.length; i++) {

						html += '<li class="list-group-item">';
						if (players[i].playerName != 'Sorry :(') {
							html += '<a data-user-id=" '+ players[i].userId +' ">' + players[i].playerName + '</a> ';
							if (players[i].teamName) {
								html += '<small class="text-muted">' + players[i].teamName + '</small>'
							};
							if (!players[i].currentLeague.length > 0) {

								html += '<a href="#"><span class="pull-right glyphicon glyphicon-plus text-success"></span></a>';
							}
						}else{
							html += players[i].playerName + ' <small class="text-muted">' + players[i].teamName + '</small>'
						}
						html += '</li>';
				    }

					if (rows) {
						html += '<li class="list-group-item">';
						html += '<a href="">' + rows + '명의 결과 더 보기</a>';
						html += '</li>';
					}

					$("#results").html(html);

					$("#results li a").click(function (e) {
						console.log('click~~~~', $(this).attr('data-user-id'));
						var url = '/search/player/' + $(this).attr('data-user-id');
						$.ajax({
							type        : 'get',
							async       : true,
							url         : url,
							beforeSend  : function() {
								NProgress.inc();
								// $('#ajax_load_indicator').show().fadeIn('fast');
							},
							success     : function(player) {
								NProgress.inc();

								$(".playerModal").modal('show');
								$(".playerModal").find("center h3").text(player.playerName);
								$(".playerModal").find(".fa-birthday-cake").next('small').text(' ' + player.birthday);
								$(".playerModal").find(".fa-envelope-o").next('small').text(' ' + player.email);


								if (!player.currentLeague[0]) {
									<% if (user.currentLeague[0]) { %>
										console.log("둘다 가능함~~~");
										$(".playerModal .modal-footer").append('<button type="button" class="btn btn-success" player-dismiss="modal"><i class="fa fa-phone"></i> 러브 콜</button>');
									<% } %>
								}

								$(".playerModal").on('hidden.bs.modal', function (e) {
									$(this).find('.btn-success').remove();
								})

							},
							error       : function(data, status, err) {
								console.log("error forward : "+data);
								alert('서버와의 통신이 실패했습니다.');
							},
							complete    : function (xhr, status) {
								NProgress.done();
							}
					    });

					})
				}
			});
		}return false;
	}

	$("input#search").on("keyup", function(e) {
		// Set Timeout
		clearTimeout($.data(this, 'timer'));

		// Set Search String
		var search_string = $(this).val();

		// Do Search
		if (search_string == '') {
			$("#results").fadeOut();
		}else{
			$("#results").fadeIn();
			$(this).data('timer', setTimeout(search, 100));
		};
	})
	// .on("focusout", function (e){
	// 	console.log('out  : ', e);
	// 	$("#results").fadeOut();
	// });
</script>

