<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>testUpload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>올려올려~~</h1>
		<form action="/testUpload" method="post" enctype="multipart/form-data">
			<!-- enctype 이게 엄청 중요해요 -->
			아이디 : <input type="text" name="userid" value="hong"><br>
			올릴 파일 : <input type="file" name="upfile"><br>
			<input type="submit" value="업로드">
		</form>
  </body>
</html>
