<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery-ui-1.10.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.ui.touch-punch.js"></script>
<script src="/js/nprogress.js"></script>


<script>

	NProgress.configure({ ease: 'ease', speed: 500});
	NProgress.inc();

	$(window).load(function() {
		// executes when complete page is fully loaded, including all frames, objects and images
		NProgress.done();
	});

	var url = window.location.pathname;

	var leaguePath = "/league/" + url.split('/')[2];

	if (url.split('/')[1] == 'league') {
		$.ajax({
			type        : 'get',
			async       : true,
			url         : leaguePath,
			beforeSend  : function() {
				NProgress.inc();
				// $('#ajax_load_indicator').show().fadeIn('fast');
			},
			success     : function(data) {
				NProgress.inc();
				$(".navbar-header").append(
					'<a class="navbar-brand" href="/league/' + data.league.leagueId +
					'/match"><small>' + data.league.community +
					' ' + data.league.season +
					'</small></a>'
				);
				// console.log('통신성공');
			},
			error       : function(data, status, err) {
				console.log("error forward : "+data);
				alert('서버와의 통신이 실패했습니다.');
			},
			complete    : function (xhr, status) {
				NProgress.done();
			}
	    });
	}


	// Live Search
	// On Search Submit and Get Results
	function search() {
		var query_value = $('input#search').val();
			url = "/search/" + query_value
		$('b#search-string').text(query_value);
		if(query_value !== ''){
			$.ajax({
				type: "get",
				url: url,
				cache: false,
				success: function(players){


					var html = '';

				    for (var i = 0; i < players.length; i++) {
						// <li class="list-group-item">
						// 	Vet Appointment!

						// 	<ul class="list-group-submenu">
						// 		<li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
						// 		<li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
						// 	</ul>
						// </li>
						html += '<li class="list-group-item">';
						if (players[i].playerName != 'Sorry :(') {
							html += '<a data-toggle="modal" data-target="#playerLim" class="text-primary">' + players[i].playerName + '</a> <small class="text-muted">' + players[i].teamName + '</small>'
							html += '<a href=""><span class="pull-right glyphicon glyphicon-plus text-success"></span></a>';
						}else{
							html += players[i].playerName + ' <small class="text-muted">' + players[i].teamName + '</small>'
						}
						html += '</li>';
						// html += '<li class="players">';
						// html += '<a href="#" class="list-group-item">';
						// html += '<h4 class="list-group-item-heading">' + players[i].playerName + '</h4>';
						// html += '<p class="list-group-item-text">' + players[i].teamName + '</p>';
						// html += '</a>';
				    };

					// $("#results").html(html);
					$("#results").html(html);
				}
			});
		}return false;
	}




	$("input#search").on("keyup", function(e) {
		// Set Timeout
		clearTimeout($.data(this, 'timer'));

		// Set Search String
		var search_string = $(this).val();

		// Do Search
		if (search_string == '') {
			$("#results").fadeOut();
		}else{
			$("#results").fadeIn();
			$(this).data('timer', setTimeout(search, 100));
		};
	})
	// .on("focusout", function (e){
	// 	console.log('out  : ', e);
	// 	$("#results").fadeOut();
	// });



</script>