<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery-ui-1.10.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.ui.touch-punch.js"></script>
<script src="/js/bootstrap-modalmanager.js"></script>


<script>

	//navbar active
	function stripTrailingSlash(str) {
	    if(str.substr(-1) == '/') {
	      return str.substr(0, str.length - 1);
	    }
	    return str;
	}

	var url = window.location.pathname;
	var activePage = stripTrailingSlash(url);

	$('.nav li a').each(function(){
		var currentPage = stripTrailingSlash($(this).attr('href'));

		if (activePage == currentPage) {
	  		$(this).parent().addClass('active');
		}
	});

	var leaguePath = "/league/" + url.split('/')[2];

	if (url.split('/')[2]) {
	    $.ajax({
	      type        : 'get',
	      async       : true,
	      url         : leaguePath,
	      beforeSend  : function() {
	          // $('#ajax_load_indicator').show().fadeIn('fast');
	      },
	      success     : function(data) {

	          $(".navbar-header").append('<a class="navbar-brand" href="/league/' + data.league.leagueId + '/match"><small>' + data.league.community + ' ' + data.league.season + '</small></a>');
	          // console.log('통신성공');
	      },
	      error       : function(data, status, err) {
	        console.log("error forward : "+data);
	          alert('서버와의 통신이 실패했습니다.');
	      }
	    });

	}





</script>