<div class="footer">
	<center>
		<ul class="list-inline" >
			<li><a href="https://www.facebook.com/shallwefootball"><i class="fa fa-facebook"></i><small></a> facebook</small></li>
			<li><a href="https://www.facebook.com/groups/shallwefootball.yeoju/"><i class="fa fa-facebook"></i><small></a> facebook group yeoju</small></li>
		</ul>
		<p>&copy; 공찰래리그운영본부 2011</p>
		<ul class="list-inline" >
			<li><small><a href="/league/1/match">2014 여주</a></small></li>
			<li><small><a href="/league/4/match">2013/14 여주</a></small></li>
		</ul>
	</center>
</div>