<title>내일 뭐해. 공찰래? :)</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<link href="/bower_components/bootswatch-dist/css/bootstrap.css" rel="stylesheet">
<link href="/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
<link href="/css/nprogress.css" rel="stylesheet">
<link href="/css/formValidation.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">

<link href="/css/style.css" rel="stylesheet">


<% /* global */ %>
<% var user = locals.user; %>