
			<p class="text-right">
				<strong><%= user.playerName %> </strong>님&nbsp;
				<span class="text-primary"><%= league.community %> <%= league.season %></span> 시즌에&nbsp;

				<% if (league.userJoined) { %>
					참가했습니다.
				<% }else { %>
					참가하지 않았습니다.
				<% } %>
			</p>