<div class="row">
	<div class="col-md-12">
		<center>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
			<br>
			<br>
			<h3 class="media-heading">레헵</h3>
			<p><small>1988/02/03</small>
				<br>
				test@gmail.com
			</p>
		</center>
		<center>

			<table class="table">
				<caption>
					<h5 class="text-left">이적판</h5>
				</caption>
				<thead>
					<tr>
						<th>시즌</th>
						<th>클럽</th>
						<th>형태</th>
						<th>상태</th>
						<th>사인</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2015 여주</td>
						<td>무진</td>
						<td>러브콜</td>
						<td>대기중</td>
						<td>
							<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
						</td>
					</tr>
					<tr>
						<td>2015 여주</td>
						<td>승성</td>
						<td>이적요청</td>
						<td>대기중</td>
						<td>
							<!-- <span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span> -->
						</td>
					</tr>
				</tbody>
			</table>


			<table class="table">
				<caption>
					<h5 class="text-left">career - </h5>
				</caption>
				<thead>
					<tr>
						<th>시즌</th>
						<th>경기</th>
						<th>out</th>
						<th>in</th>
						<th>득점</th>
						<th>pk득점</th>
						<th class="hidden-xs">자책골</th>
						<th class="hidden-xs">pk실축</th>
						<th class="hidden-xs">y카드</th>
						<th class="hidden-xs">r카드</th>
						<th class="hidden-xs">y2카드</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="info">
						<td>합계</td>
						<td>played</td>
						<td>out</td>
						<td>in</td>
						<td>goalScored</td>
						<td>penaltyScored</td>
						<td class="hidden-xs"> ownGoal</td>
						<td class="hidden-xs"> penaltyMissed</td>
						<td class="hidden-xs"> yellowCard</td>
						<td class="hidden-xs"> redCard</td>
						<td class="hidden-xs"> secondYellowCard</td>
					</tr>
					<tr>
						<td colspan="11">
							<p class="text-right"><small>(c) - captain</small></p>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>season (c)</td>
						<td>played</td>
						<td>out</td>
						<td>in</td>
						<td>goalScored</td>
						<td>penaltyScored</td>
						<td class="hidden-xs"> ownGoal</td>
						<td class="hidden-xs"> penaltyMissed</td>
						<td class="hidden-xs"> yellowCard</td>
						<td class="hidden-xs"> redCard</td>
						<td class="hidden-xs"> secondYellowCard</td>
					</tr>
				</tbody>
			</table>

		</center>
	</div>
</div>