<%	//joined League
	if (league.userJoined) {
%>
		<% include ../jumbotron/readyLeagueJumbo %>

<%	// Did Not joined club
	}else if (user.joinedLeagues.length != 0) {

		//was leader.
		if (user.joinedLeagues[0].leader) { %>

			<% include ../jumbotron/joinLeagueJumbo %>
			<% include ../modal/joinLeagueTeamModal %>

	 <% }else { %>
			<!-- <p>옛적에 뛰긴했지만 리더는 아니니까 난 클럽에 새로가입해야해</p> -->
			<% include ../jumbotron/joinClubJumbo %>
	 <% } %>

<%	// not joined League (new user)
	}else {
%>
		<!-- <p>나는 팀이 없음. 그러니까 팀에 가입해야해</p> -->
		<% include ../jumbotron/joinClubJumbo %>

<%	} %>




