<%	//joined League
	if (league.userJoined) {
%>
		<% include ../jumbotron/readyLeagueJumbo %>

<%	// Did Not joined
	}else if (user.joinedLeagues.length != 0) {
%>

	<% if (user.joinedLeagues[0].leader) { %>

			<% /* include ../jumbotron/joinLeaguejumbo */ %>
			<% include ../club/joinLeagueModal %>

	<% }else { %>
			<!-- <p>클럽은 있는데 리더는 아니야</p> -->
			<% include ../jumbotron/joinClubJumbo %>
	<% } %>

<%	// no have team
	}else {
%>
		<!-- <p>나는 팀이 없음.</p> -->
		<% include ../jumbotron/joinClubJumbo %>

<%	} %>




