<!DOCTYPE html>
<html>
	<head>
	<% include ../layout/head %>
	<style>
		.schedule {
			padding-right: 25px;
			padding-left: 25px;
			max-width: 750px;
			margin-right: auto;
			margin-left: auto;
		}

		.table tr {
			cursor: pointer;
		}
	</style>

	</head>
	<body>

	    <% include ../layout/navbar %>

	    <% console.log('locals.league    :   ', locals.league) %>

	    <% var league = locals.league; %>

		<div class="container">

			<% include ../layout/joinedUser %>

			<% include ../layout/alertLeague %>

			<%
				if (league.status == 'before') {
			%>
					<% include beforeLeague %>
			<%	// playing || end
				} else {
			%>
					<% include schedule %>
			<%
				}
			%>


			<% include joinedTeam %>

			<% include ../layout/footer %>

		</div>



	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <% include ../layout/defaultPlugins %>

	    <script>
	    	//기록지로 이동
			$(".getRecordViewBtn").click( function (e) {
				location.href = location.origin +
								"/league/" +
								location.pathname.split("/")[2] +
								"/records/" +
								$(this).attr("value") +
								"/home/" +
								$(this).attr("data-homeClubId") +
								"/away/" +
								$(this).attr("data-awayClubId");
			});

			//클럽정보 이동
			$(".panel [data-clubId]").click( function (e) {
				console.log('teamId click~~~!!!');
				location.href = location.origin +
							"/league/" +
							location.pathname.split("/")[2] +
							"/club/" +
							$(this).attr("data-clubId");
			});

			$('.table tr').click(function () {
				$('#myModal').modal('show')
				console.log($(this).attr("data-target"));
			});


			//get playerList for appointment leader
			$('button[data-clubId]').click(function (e) {

				var url    = '/playerList/' + this.dataset.clubid;

				var $modal = $('#joinLeague');

				$.ajax({
					type        : 'get',
					async       : true,
					url         : url,
					beforeSend  : function() {
						NProgress.inc();
						// $('#ajax_load_indicator').show().fadeIn('fast');
					},
					success     : function(data) {
						var playerList = data.playerList;

						var html = '<option value="">리더가 바뀌지않았다면 무시하셔도 됩니다.</option>';

						for (var i = 0; i < playerList.length; i++) {
								html += '<option value="' + playerList[i].userId + '">' + playerList[i].playerName + '</option>';
						}

						$('select[name="leaderId"]').html(html);
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
						alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function (xhr, status) {
						NProgress.done();
						$modal.modal('show');
					}
				});
			});

	    </script>

	</body>
</html>