<!DOCTYPE html>
<html>
	<head>
	<% include ../layout/head %>
	<style>
		.schedule {
			padding-right: 25px;
			padding-left: 25px;
			max-width: 750px;
			margin-right: auto;
			margin-left: auto;
		}

		.table tr {
			cursor: pointer;
		}
	</style>

	</head>
	<body>

	    <% include ../layout/navbar %>

	    <% console.log('locals.league    :   ', locals.league) %>

		<div class="container">
			<% var leagueStatus = locals.league.status; %>
			<% if (leagueStatus == 'playing' || leagueStatus == 'end') { %>
				<% include schedule %>
			<% } %>

			<% if (leagueStatus == 'before') { %>
				<% include beforeLeague %>
			<% } %>


			<% include joinedTeam %>

			<% include ../layout/footer %>

		</div>



	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <% include ../layout/defaultPlugins %>

	    <script>
	    	//기록지로 이동
			$(".getRecordViewBtn").click( function (e) {
				location.href = location.origin +
								"/league/" +
								location.pathname.split("/")[2] +
								"/records/" +
								$(this).attr("value") +
								"/home/" +
								$(this).attr("data-homeClubId") +
								"/away/" +
								$(this).attr("data-awayClubId");

			});

			$("[data-clubId]").click( function (e) {
				location.href = location.origin +
							"/league/" +
							location.pathname.split("/")[2] +
							"/club/" +
							$(this).attr("data-clubId");
			});

			$('.table tr').click(function () {
				$('#myModal').modal('show')
				console.log($(this).attr("data-target"));
			});


	    </script>

	</body>
</html>