<!DOCTYPE html>
<html>
	<head>
	<% include ../layout/head %>
	<style>
		.schedule {
			padding-right: 25px;
			padding-left: 25px;
			max-width: 750px;
			margin-right: auto;
			margin-left: auto;
		}

		.table tr {
			cursor: pointer;
		}
	</style>

	</head>
	<body>

	    <% include ../layout/navbar %>

	    <% console.log('locals.league    :   ', locals.league) %>

	    <% var league = locals.league; %>

		<div class="container">

			<% include ../layout/joinedUser %>

			<% include ../layout/alertLeague %>

			<%
				if (league.status == 'before') {
			%>
					<% include beforeLeague %>
			<%	// playing || end
				} else {
			%>
					<% include schedule %>
			<%
				}
			%>


			<% include joinedTeam %>

			<% include ../layout/footer %>

		</div>



	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <% include ../layout/defaultPlugins %>

	</body>
</html>