<div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">팀생성</h4>
      </div>
        <form method="post" action="/league/<%= league.leagueId %>/team" role="form" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">팀 이름</label>
              <input type="test" name="teamName" class="form-control" id="exampleInputEmail1" placeholder="클럽이름">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">간단한 팀 소개</label>
              <textarea class="form-control" rows="3" name="information"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            <button type="submit" class="btn btn-primary">생성하기</button>
          </div>

        </form>

    </div>
  </div>
</div>

