
<!-- <div class="modal playerModal" tabindex="-1" role="dialog" aria-labelledby="playerTitle" aria-hidden="true"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="playerTitle">선수정보</h4>
			</div>
			<div class="modal-body">
				<center>
					<img id="teamLogo" class="img-circle" src="/images/default/defaultUser140.jpg" width="140" height="140" border="0">
					<h3><%= player.playerName %></h3>
				</center>
				<p class="text-muted">
					<i class="fa fa-birthday-cake"></i> <small><%= player.birthday %></small>
					<br>
					<i class="fa fa-envelope-o"></i> <small><%= player.email %></small>
				</p>
				<% if (player.currentLeague.length > 0) { %>
					<div class="row">
						<div class="col-md-4">
							<center>
								<div class="info-item"> <%= player.currentLeague[0].season %> </div>
								<a href="/league/<%= player.currentLeague[0].leagueId %>/match">
									<p> <%= player.currentLeague[0].community %> </p>
								</a>
							</center>
						</div>
						<div class="col-md-4">
							<center>
								<a href="/league/<%= player.currentLeague[0].leagueId %>/club/<%= player.currentLeague[0].clubId %>">
									<div class="info-item" style="padding-bottom:8px;">
										<img class="vertical-image" src="/images/team/<%= player.currentLeague[0].teamId %>/image.jpg" alt="64x64">
									</div>
									<p> <%= player.currentLeague[0].teamName %> </p>
								</a>
							</center>
							<p></p>
						</div>
						<div class="col-md-4">
							<center>
								<div class="info-item"> <%= player.currentLeague[0].squadNumber %> </div>
								<p> <%= player.currentLeague[0].position %> </p>
							</center>
							<p></p>
						</div>
					</div>
				<% }else if (!player.joinedLeagues.length > 0 && !player.transfer.length > 0){ %>
					<div class="row">
						<center>
							<p>
								현재 소속된 클럽이 없습니다.
								<br>
								<small>클럽에 가입하세요.</small>
							</p>
						</center>
					</div>
				<% }else if (player.transfer.length > 0) { %>
					<table class="table">
						<caption>
							<h4 class="text-left">My Transfer - </h4>
						</caption>
						<thead>
							<tr>
								<th></th>
								<th>확인</th>
								<th>시즌</th>
								<th>클럽</th>
							</tr>
						</thead>
						<tbody>
							<% player.transfer.forEach(function (item, index) { %>
								<% switch(item.transferStatus) { case 'transfered' : %>
									<tr>
										<% switch(item.transfer) { case "loveCall" : %>
											<td>러브콜</td>
											<td>
												<span class="glyphicon glyphicon-ok text-success"></span>
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %> + </a>
											</td>
										<% break; case "requestCall" : %>
											<td>가입요청</td>
											<td>
												<span class="glyphicon glyphicon-ok text-success"></span>
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %></a>
											</td>
										<% break; } %>
									</tr>
								<% break; case "wait" : %>
									<tr>
										<% switch(item.transfer) { case "loveCall" : %>
											<td>러브콜</td>
											<td>
												<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %></a>
											</td>
										<% break; case "requestCall" : %>
											<td>가입요청</td>
											<td>
												대기중..;
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %></a>
											</td>
										<% break; } %>
									</tr>
								<% break; case "reject" : case "rejected" : %>
									<tr>
										<% switch(item.transfer) { case "loveCall" : %>
											<td>러브콜</td>
											<td>
												거절
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %></a>
											</td>
										<% break; case "requestCall" : %>
											<td>가입요청</td>
											<td>
												거절
											</td>
											<td>
												 <%= item.season %> <%= item.community %>
											</td>
											<td>
												<a href="/league/<%= item.leagueId %>/club/<%= item.clubId %>"> <%= item.teamName %></a>
											</td>
										<% break; } %>
									</tr>

								<% break; } %>
							<% }); %>
						</tbody>
					</table>
				<% } %>


				<% if (player.joinedLeagues.length > 0) { %>
					<table class="table playerCareerModal">
						<caption>
							<h4 class="text-left">My Career - </h4>
						</caption>
						<thead>
							<tr>
								<th></th>
								<th>시즌</th>
								<th>경기</th>
								<th>out</th>
								<th>in</th>
								<th>득점</th>
								<th>pk득점</th>
								<th class="hidden-xs hidden-sm hidden-md">자책골</th>
								<th class="hidden-xs hidden-sm hidden-md">pk실축</th>
								<th class="hidden-xs hidden-sm hidden-md">y카드</th>
								<th class="hidden-xs hidden-sm hidden-md">r카드</th>
								<th class="hidden-xs hidden-sm hidden-md">y2카드</th>
							</tr>
						</thead>
						<tfoot>
							<tr class="info">
								<td>합계</td>
								<td></td>
								<td>played</td>
								<td>out</td>
								<td>in</td>
								<td>goalScored</td>
								<td>penaltyScored</td>
								<td class="hidden-xs hidden-sm hidden-md">ownGoal</td>
								<td class="hidden-xs hidden-sm hidden-md">penaltyMissed</td>
								<td class="hidden-xs hidden-sm hidden-md">yellowCard</td>
								<td class="hidden-xs hidden-sm hidden-md">redCard</td>
								<td class="hidden-xs hidden-sm hidden-md">secondYellowCard</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td class="hidden-xs"></td>
								<td class="hidden-xs"></td>
								<td class="hidden-xs"></td>
								<td class="hidden-xs"></td>
								<td class="hidden-xs"></td>
								<td colspan="2">
									<p class="text-right"><small><span class="text-danger">(c)</span> - captain</small></p>
								</td>
							</tr>
						</tfoot>
						<tbody>

							<% player.joinedLeagues.forEach(function (item, index) { %>
								<tr class="text-muted">
									<td><%= item.teamName %></td>
									<td>
										<a href="/league/<%= item.leagueId %>/match">
											<%= item.season %> <%= item.community%>
											<% if (item.leader) { %>
												<span class="text-danger"> (c)</span>
											<% } %>
										</a>
									</td>
									<td><%= item.played %></td>
									<td><%= item.out %></td>
									<td><%= item.in %></td>
									<td><%= item.goalScored %></td>
									<td><%= item.penaltyScored %></td>
									<td class="hidden-xs hidden-sm hidden-md"><%= item.ownGoal %></td>
									<td class="hidden-xs hidden-sm hidden-md"><%= item.penaltyMissed %></td>
									<td class="hidden-xs hidden-sm hidden-md"><%= item.yellowCard %></td>
									<td class="hidden-xs hidden-sm hidden-md"><%= item.redCard %></td>
									<td class="hidden-xs hidden-sm hidden-md"><%= item.secondYellowCard %></td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				<% } %>

			</div>

			<div class="modal-footer">

				<% if (!player.currentLeague.length > 0 && user.currentLeague.length > 0) { %>

					<% player.transfer.forEach(function (item, index) { %>

						<% if (item.clubId == user.currentLeague[0].clubId) { %>
							<button type="button" class="btn btn-default loveCalled">러브콜을 보냈습니다.<i class="fa fa-plus"></i></button>
							<% return; %>
						<% } %>

						<% if (player.transfer.length == (index + 1) )  { %>
			 				<button type="button" class="btn btn-default loveCall">러브콜 보내기<i class="fa fa-plus"></i></button>
						<% } %>

					<% }); %>
				<% } %>

			</div>
		</div>
	</div>
<!-- </div> -->
