<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
		<style>
			.table tbody>tr>td {
				vertical-align: middle;
			}
			img.img-circle {
				margin: 0 auto;
			}
			th, td {
				text-align: center;
			}
			td > a {
				color: #008CBA;
				cursor: pointer;
			}
			td > a:hover {
				text-decoration: underline;
			}
			.playerName {
				/*width: 50px;*/
			}
			.glyphicon-remove, .glyphicon-pencil{
				font-size: 1.2em; /* size lager */
				cursor: pointer;
			}
			.bootstrap-select > .btn {
				/* 이거 bootstrap default select box 맞춰주는거야 꼭필요*/
				padding: 6px 12px !important;
			}
		</style>

	</head>
	<body>
		<% include ../layout/navbar %>
		<div class="container">
			<%
				// --- 클럽 --- club.userAuth
				//1. 리더
				//2. 신규선수(다른팀에 요청받거나, 해도 됨) new
				//3. 기존 등록이된 플레이어 registered (starting, sub, excepted)는 waitLeague

				//4. 가입요청온 플레이어 (requestCall)
				//5. 러브콜이 간 플레이어 (loveCall)
				//6. 이적이완료된 플레이어 (transfered)

				// --- 리그 --- league.userJoined
				// 시작전.
					// 리그에 참가됨 (어떤클럽이던)
					// 참가안됨
				// 진행중.
				// 끝
				// 이적시장.

				if (user.transfer) {
					user.transfer.forEach(function (item, index) {

						// user의 이적할 클럽들중 보고있는 클럽과 같을경우.
						if (item.clubId == club.clubId) {

							switch (item.transferStatus) {
								// 이적상태	 -- 완료
								case 'transfered' :
									club.userAuth = 'registered';
									break;
								// 이적상태	 -- 대기
								case 'wait' :
									switch (item.transfer) {
										case 'requestCall' :
											club.userAuth = 'requestCall';
											break;
										case 'loveCall' :
											club.userAuth = 'loveCall';
											break;
									}
									break;
							}
						// 다를경우는 가입을해야겠지
						// 근데 waitLeague가 있으면 안되겠지?
						// waitLeague는 오지않음 그러니까 new만 하면됨.
						}else {
							if(!club.userAuth) {
								club.userAuth = 'new';
							}
							if (club.userAuth != "new") {
								return;
							}
							club.userAuth = 'new';
						}
					});
				}

				var waitLeague = user.waitLeague[0];

				if (waitLeague) {

					if (waitLeague.clubId == club.clubId) {
						club.userAuth = 'registered';
					}else {
						club.userAuth = 'anotherRegistered';
					}

					if (user.userId == club.leaderId) {
						club.userAuth = 'leader';
					}

				}
			%>

			<% console.log("club       :   " , club); %>
			<% console.log("league     :   " , league); %>

			<% include ../layout/joinedUser %>

			<% include ../layout/alertLeague %>

			<% include clubInfo %>


			<%	if (league.status == 'before') { %>
				<% 	//리더
					if (club.userAuth == 'leader') {
				%>

						<% include transfer %>

						<% include editPlayer %>

				<%	// no leader
					}else {
				%>
					<% include playerStat %>
					<%
						switch (club.userAuth) {
							case 'new' : %>
								<a type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target=".requestCallModal">
									이 클럽에 가입요청
								</a>
							<% break;
							case 'registered' : %>

								<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target=".updatePosition">포지션 수정 </button>
								<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target=".squadNumber">스쿼드넘버 수정 </button>
							<% break;
							case 'requestCall' : %>
								<h1>입단요청하고 대기중이여.</h1>
							<% break;
							case 'loveCall' : %>
								<h1>이팀에서 러브콜 받았어 얼른 수락해.</h1>
							<% break;
						}
					%>
				<%
					}
				%>

			<%	//not before.
				}else {
			%>
				<% include playerStat %>
			<%
				}
			%>

			<% include ../layout/playerLim %>

			<% include ../modal/requestCallModal %>

			<% include ../layout/footer %>

		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<% include ../layout/defaultPlugins %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
		<script src="/js/bootstrap-select.js"></script>

		<% include ../js/updatePositionSqaudNumberJs %>

		<% include ../js/removePlayerInClubJs %>

		<% include ../js/insertPlayerValidatorJs %>

		<script>
			//포메이션으로 이동
			$("#getFormation").click( function (e) {
				location.href = location.origin +
								"/league/" +
								location.pathname.split("/")[2] +
								"/formation/" +
								location.pathname.split("/")[4];
			})

			$("#deleteClub").click(function(e) {

				$.ajax({
					type        : 'delete',
					async       : true,
					url         : '/club',
					data        : {clubId: $("#clubNumber").val()},
					beforeSend  : function() {
							 $('#ajax_load_indicator').show().fadeIn('fast');
					},
					success     : function(data) {
						console.log('success data : ' + data);
						console.log(data.redirect);
						alert( "success" );
						window.location.href = data.redirect;
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
							alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function() {
						$('#ajax_load_indicator').fadeOut();
					}
				});

			});

			//<button type="button" class="btn btn-danger btn-lg btn-block" id="signoutClub">이 클럽 탈퇴 </button>
			$("#signoutClub").click(function(e) {
				$.ajax({
					type        : 'delete',
					async       : true,
					crossDomain : true,
					url         : '/signoutClub',
					data        : {playerId: $("#playerId").val()},
					beforeSend  : function() {
							 $('#ajax_load_indicator').show().fadeIn('fast');
					},
					success     : function(data) {
						console.log('success data : ' + data);
						console.log(data);
						console.log(data.redirect);
						alert( "success" );
						window.location.href = data.redirect;
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
							alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function() {
						$('#ajax_load_indicator').fadeOut();
					}
				});

			});

			$("#outLeague").click(function (e) {

				console.log('out click???');

				var url = "/league/" + location.pathname.split("/")[2] + "/outLeague";

				$.ajax({
					type        : 'delete',
					async       : true,
					url         : url,
					data 		: {clubId : location.pathname.split("/")[4]},
					beforeSend  : function() {
						NProgress.inc();
					},
					success     : function(data) {
						console.log('통신성공');
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
						alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function (xhr, status) {
						NProgress.done();
						location.href = location.origin + "/league/" + location.pathname.split("/")[2] + "/match";
					}
				});
			});

			// insert default image
			$(".img-circle").each(function () {
				if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
					// image was broken, replace with your new image
					this.src = '/images/default/defaultUser.png';
				}
			});

			$("#teamLogo").is(function () {
				if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
					// image was broken, replace with your new image
					this.src = '/images/default/defaultClub.png';
				}
			});

			//구지 첨부터 특정포지션 설정해놓는게 낫지 않을까???
			// $('#updatePosition')
				// .find('[name="position"]')
				//     .selectpicker()
				//     .change(function(e) {
				//         // revalidate the language when it is changed
				//         $('#updatePosition').bootstrapValidator('revalidateField', 'position');
				//     })
				//     .end()
				// .bootstrapValidator({
				//     excluded: ':disabled',
				//     feedbackIcons: {
				//         valid: 'glyphicon glyphicon-ok',
				//         invalid: 'glyphicon glyphicon-remove',
				//         validating: 'glyphicon glyphicon-refresh'
				//     },
				//     fields: {
				//         language: {
				//             validators: {
				//                 notEmpty: {
				//                     message: 'Please select your native language.'
				//                 }
				//             }
				//         }
				//     }
				// });

			$('.requestCallModal form')
		        .find('[name="position"]')
		            .selectpicker()
		            .change(function(e) {
		                // revalidate the language when it is changed
		                $('#bootstrapSelectForm').bootstrapValidator('revalidateField', 'position');
		            })
		            .end()
				.bootstrapValidator({
					// To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
					live : 'submitted',
		            excluded: ':disabled',
					feedbackIcons: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
		                position: {
		                	feedbackIcons: 'false',
		                    validators: {
		                        notEmpty: {
		                            message: '포지션을 선택해야합니다.'
		                        }
		                    }
		                }
					}
				})

		</script>

	</body>
</html>